name: Deploy to Nginx

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Deploy to EC2
      env:
        EC2_USER: ubuntu
        EC2_HOST: 13.202.234.217
        KEY_PATH: D:\\cloud Related Docs\\Key Pair\\skylena_projects.pem
      run: |
        ssh -i ${{ env.KEY_PATH }} ${{ env.EC2_USER }}@${{ env.EC2_HOST }} 'sudo rm /var/www/html/index.nginx-debian.html'
        scp -i ${{ env.KEY_PATH }} index.html ${{ env.EC2_USER }}@${{ env.EC2_HOST }}:/var/www/html/index.html
        ssh -i ${{ env.KEY_PATH }} ${{ env.EC2_USER }}@${{ env.EC2_HOST }} 'sudo systemctl restart nginx'
